.button-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}

.button-wrapper > button {
  outline: 0;
  width: 100%;
  color: #fff;
  background-color: #677bc4;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  height: 44px;
  min-width: 130px;
  min-height: 44px;
  border: none;
  border-radius: 3px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
  font: 400 13.3333px Arial;
  transition: background-color .17s ease,color .17s ease;
}

.button-wrapper > button:hover {
  cursor: pointer;
  filter: opacity(80%);
}

.button-wrapper > button:active {
  cursor: pointer;
  transform: scale(0.98);
}