.main-chat {
  padding: 10px;
  width: 50%;
  background-color: #2F3136;
  height: 78vh;
  overflow-x: auto;
}

.main-chat::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

.main-chat::-webkit-scrollbar-thumb {
  height: 15px;
  background: #202225;
  border-radius: 2px;
}